.cm-editor {
  height: 100%;
  width: 100%;
  font-family: var(--font-mono) !important;
  font-size: 16px;
}

.cm-editor * {
  transition: none !important;
}

.cm-scroller {
  font-family: var(--font-mono) !important;
  padding: 0.5rem 0.75rem;
  line-height: 1.6;
}
